/* h2 {
    color: crimson;
}

p {
    color: rgb(97, 210, 255);
}

a:link {
    color: violet;
} */


div {
    color: cornflowerblue;
}

h2 {
    color: turquoise;
}

p {
    color: blueviolet;
}

a:link {
    color: tomato;
}